@import '../scss/vars';

.bar {
  box-sizing: border-box;
  position: relative;
  display: grid;
  // grid-template-columns: auto;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-columns: repeat(16, 1fr);
  height: 100%;
  // width: calc(100% - 1px);
  width: 50%;
  border-right: 1px solid $white-01;
  transition: width .25s ease-in-out;
  will-change: width;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    // background: $white-01;
    border-top: 1px dotted $white-01;
    
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: 0 0;
    transform: scaleX(var(--progress));
    transition-property: transform;
    transition-duration: var(--bartime);
    transition-timing-function: linear;
    height: 1px;
    background: $green;  
    opacity: var(--visible); 
  }
}