@import '../scss/vars';

.bars {
  display: flex;
  flex-direction: row;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 50px;
  width: auto;
  height: 50px;
  border-top: 1px solid $white-01;
  border-bottom: 1px solid $white-01;
  overflow: hidden;
}