@import '../scss/vars';

.processors {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    width: 50%;
    height: auto;
    border-top: 1px solid $white-01;
    // border-right: 1px solid $white-01;
}