@import '../scss/vars';

.status {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    
    // display: flex;
    // flex-direction: row;
    width: 100%;
    height: 61px;
    padding: 4px;
    border-top: 1px solid $white-01;
    font-size: 1.25rem;
    color: $green;

    .barbeatstep {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr 2fr;
        width: 100%;
        height: auto;
        justify-self: end;

        .statusbar,
        .statusbeat, 
        .statusstep {
            padding: .5rem 0;
            border-radius: .5rem;
            text-align: center;
            background: $black;
            width: auto;
            margin-right: 1px;
        }
    }

    .ctxtime {
        
        border-radius: .5rem;
        padding: .5rem;
        width: 100%;
        height: auto;
        justify-self: start;
        background: $black;
        color: $white-03;
        > div {
            float: left;
            width: 22%;
            height: auto;
            text-align: center;
            &:last-child {
                width: 25%;
            }
        }
    }
    

}