@import '../scss/vars';

.track {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 1fr auto;
  width: 100%;
  height: auto;

  .controls-mask {
    width: 100%;
    height:61px;
    // overflow: hidden;
  }

  .bars-mask {
    width: 100%;
    // height:61px;
    overflow-x: hidden;
  }
}

:-webkit-scrollbar {
  -webkit-appearance: none;
}
// ::-webkit-scrollbar:vertical {
//   width: 5px;
// }
// ::-webkit-scrollbar:horizontal {
//   height: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, .3);
//   border: none!important;
//   background-clip: padding-box;
//   -webkit-border-radius: 3px;
// /*-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);*/
// }
// ::-webkit-scrollbar-track {
//   border-radius: 3px;
//   background-color: rgba(255, 255, 255, 0);
// }



