@import '../scss/vars';

.track {
  position: relative;
  display: block;
  /* grid-template-columns: repeat(4, 1fr); */
  // grid-template-rows: 1fr auto;
  width: 100%;
  height: auto;
  // border-bottom: 1px solid $white-01;

  .controls-mask {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    // position: fixed;
    left: 0;
    top: 50px;
    transform: translateZ(0);
    width: calc(100vw - 44px);
    height:60px;
    overflow: hidden;
    transition: height .5s ease-in-out;
    z-index: 20;
  }

  .bars-mask {
    position: relative;
    transform: translateZ(0);
    width: auto;
    height:40px;
    white-space: nowrap;
    overflow: hidden;
    // overflow-x: scroll;
    scroll-behavior: smooth;
    transition: height .5s ease-in-out;
    scrollbar-width: none;
    // scrollbar-height: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 0px; 
      background-color: transparent;
    }
  }
}


// ::-webkit-scrollbar:vertical {
//   width: 5px;
// }
// ::-webkit-scrollbar:horizontal {
//   height: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, .3);
//   border: none!important;
//   background-clip: padding-box;
//   -webkit-border-radius: 3px;
// /*-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);*/
// }
// ::-webkit-scrollbar-track {
//   border-radius: 3px;
//   background-color: rgba(255, 255, 255, 0);
// }



