//colors
$white: #fff;
$white-01: rgba($white, .1);
$white-02: rgba($white, .2);
$white-03: rgba($white, .3);
$white-04: rgba($white, .4);
$white-05: rgba($white, .5);
$white-06: rgba($white, .6);
$white-07: rgba($white, .7);
$white-08: rgba($white, .8);
$white-09: rgba($white, .9);

$black: #171717;
$black-01: rgba($black, .1);
$black-02: rgba($black, .2);
$black-03: rgba($black, .3);
$black-04: rgba($black, .4);
$black-05: rgba($black, .5);
$black-06: rgba($black, .6);
$black-07: rgba($black, .7);
$black-08: rgba($black, .8);
$black-09: rgba($black, .9);

$gray: #373737;

$red: red;
$blue: blue;
$green: rgb(21, 255, 0);
$neon: #CBE86B;
$orange: #ffa600;
$purple: purple;

//breakpoints
$bp-xs: 320px;
$bp-sm: 512px;
$bp-md: 1024px;
$bp-lg: 1536px;
$bp-xl: 1848px;