//colors
$white: #fff;
$white-01: rgba($white, .1);
$white-02: rgba($white, .2);
$white-03: rgba($white, .3);
$white-04: rgba($white, .4);
$white-05: rgba($white, .5);
$white-06: rgba($white, .6);
$white-07: rgba($white, .7);
$white-08: rgba($white, .8);
$white-09: rgba($white, .9);

$black: #171717;
$black-01: rgba($black, .1);
$black-02: rgba($black, .2);
$black-03: rgba($black, .3);
$black-04: rgba($black, .4);
$black-05: rgba($black, .5);
$black-06: rgba($black, .6);
$black-07: rgba($black, .7);
$black-08: rgba($black, .8);
$black-09: rgba($black, .9);

$gray-dark: #202020;

$gray: #373737;

$gray-light: #dedede;

$red: #FF0000;
$magenta: rgb(255, 0, 128);
$blue: blue;
$green: rgb(21, 255, 0);
$neon: rgb(204, 204, 0);
$orange: rgb(255, 102, 0);
$cyan: rgb(102, 255, 255);
$purple: rgb(102, 102, 255);
$bgdark: #282c34;

$default-step-bg: #505258;
$active-step-bg: $red;

//breakpoints
$bp-xs: 320px;
$bp-sm: 512px;
$bp-md: 1024px;
$bp-lg: 1536px;
$bp-xl: 1848px;

$colors: (
  magenta: rgb(255, 0, 128),
  neon: rgb(204, 255, 51),
  cyan: rgb(102, 255, 255),
  yellow: rgb(204, 204, 0),
  orange:rgb(255, 102, 0),
  purple: rgb(102, 102, 255)
);

.gradient-01 {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.gradient-02 {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.gradient-03 {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.gradient-04 {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}

:export {
  defaultWhite:$white-03;
  waveWhite:$white-02;
  hiliteWhite: $white-05;
  mutedWhite: $white-01;
  mutedBlack: $black-01;
  defaultBlack: $black-03;
  disabled: $white-01;
  defaultStepBg: $default-step-bg;
  activeStepBg: $active-step-bg;
  beatTxtColor: $black;
  greencolor: $green;
  redcolor: $red;
  magentacolor: $magenta;
  cyancolor: $cyan;
  orangecolor: $orange;
  purplecolor: $purple;
  neoncolor: $neon;
  alertcolor: $red;
  graycolor: $gray;
  lightgraycolor: $gray-light;
  bgcolor: $bgdark;
  drumColors: colors;
}