@import '../../scss/vars';
// @import './ui-reset.scss';

:focus {
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    box-shadow:none;
    border-color:transparent;
    border: none;
}

input[type=range]:focus,
input[type=range]:active,
input[type=range]::-moz-focus-inner,
input[type=range]::-moz-focus-outer,
input[type=range]:-moz-focusring {
      border: none;
      outline: none;
}

.input-range {
    appearance: none;
    box-sizing: border-box;
    font-size: 0px;
    position: relative;
    cursor: pointer;
    // Provide a larger interaction hit area
    margin: 0;
    outline: none;
    border: none;
    padding: 1rem 0;
    width: 100%;
    background: transparent;
    outline-color: transparent;

    // Remove extra padding on Edge that causes vertical misalignment
    // IE Edge 16+ CSS
    // See https://browserstrangeness.github.io/css_hacks.html
    @supports (-ms-ime-align: auto) {
        padding-top: 0;
        padding-bottom: 0;
    }

    // Chaining the selectors doesn't work because browsers.
    // See https://css-tricks.com/sliding-nightmare-understanding-range-input/#structure
    &::-webkit-slider-runnable-track {
        appearance: none;
        background: $gray;
        height: 3px;
    }
    &::-moz-range-track {
        appearance: none;
        background: $gray;
        height: 3px;
        
    }

    &::-webkit-slider-thumb {
        appearance: none;
        background: $green;
        border: 0;
        margin-top: -6px;
        height: 15px;
        width: 3px;
    }
    &::-moz-range-thumb {
        appearance: none;
        background: $green;
        border: 0;
        margin-top: -6px;
        height: 15px;
        width: 3px;
    }

    &::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 1rem 0;
        color: transparent;
        height: 3px;
    }
    &::-ms-fill-lower {
        background: $gray;
    }
    &::-ms-fill-upper {
        background: $gray;
    }
    &::-ms-thumb {
        appearance: none;
        background: transparent;
        border: 0;
        margin-top: -1px;
        height: 15px;
        width: 3px;
    }

    &:after {
        background: $green;
        content: '';
        position: absolute;
        z-index:2;
        height: 3px;
        width: var(--track-width);
    }

    &:hover,
    &:active {
        &::-webkit-slider-thumb {
            background: $green;
        }
        &::-moz-range-thumb {
            background: $green;
        }
        &::-ms-thumb {
            background: $green;
        }
    }

    &:focus {
        outline: 2px solid transparent;
        border-color: transparent;
        // outline-color: transparent;
        outline: none;
        outline-offset: 0;
    }
}

.label {
    position:absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    font-variant: small-caps;
    color: $white-03;
    // margin-right: 2rem;
}

.select {
    width:100%;
    height: 30px;
    padding:0 20px 0 10px;
    background-color: $black-02;
    // background-repeat:no-repeat;
    // background-position:190px;
    // background-size: 10px;
    border-radius: 0px;
    border: 2px solid $gray;
    color: $green;
    font-size: .8rem;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background-color:$gray;
        // background-image:url(../../assets/icons/arrow-down-over.svg);
        color: $green;
    }

    option {
        background-color: $orange!important;
        border: none!important;
        border-radius: 0!important;
    }
}

.current-value {
    position: absolute;
    top: 3px;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    color: $white-03;
}

.switch {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    div {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border: 2px solid $gray;
        background: $black-02;

        &.mute {
            background: $red!important;
        }
        &.solo {
            background: $green!important;
        }

        &.inOn {
            background: $red!important;
        }
        
    }
    // &:hover {
    //     div {
    //         background: rgba($neon, .3);
    //     }
    // }
}